.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-around;
}

/* main {
    display: flex;
} */

.criminal {
    border: 1px solid black;
    margin: 10px;
    padding: 1px;
    flex-basis: 25%;
}

.twoContainers {
    display: flex;
    flex-wrap: wrap;
}

.notesContainer {
    display: flex;
    align-self: flex-end;
}